# This notebook is used to copy the bicycle crash data (KSI) found [here](https://www.nyc.gov/html/dot/html/bicyclists/bikestats.shtml)

In [28]:
import pandas as pd
import numpy as np

## Data from the Bicyclist-Motor-incidents for years 2014-2016:

In [29]:
table14_Manhattan_BM = "Manhattan 1 73 74 0 0 0 \
Manhattan 5 84 84 0 1 0 \
Manhattan 6 53 54 0 0 0 \
Manhattan 7 50 49 1 0 0 \
Manhattan 9 85 86 0 0 0 \
Manhattan 10 41 41 0 0 0 \
Manhattan 13 129 129 0 1 0 \
Manhattan 14 95 95 0 2 0 \
Manhattan 17 62 62 0 0 0 \
Manhattan 18 76 76 0 0 0 \
Manhattan 19 93 93 0 1 0 \
Manhattan 20 40 40 0 0 0 \
Manhattan 22 7 7 0 0 0 \
Manhattan 23 24 22 2 0 0 \
Manhattan 24 47 46 1 0 0 \
Manhattan 25 26 26 0 1 0 \
Manhattan 26 36 36 0 0 0 \
Manhattan 28 50 49 1 3 0 \
Manhattan 30 21 21 0 0 0 \
Manhattan 32 24 25 0 0 0 \
Manhattan 33 24 24 0 0 0 \
Manhattan 34 48 48 0 0 0"

table14_Bronx_BM = "Bronx 40 43 43 0 1 0 \
Bronx 41 23 23 0 0 0 \
Bronx 42 31 31 0 0 0 \
Bronx 43 56 56 1 0 0 \
Bronx 44 42 42 0 0 0 \
Bronx 45 31 31 0 1 0 \
Bronx 46 34 34 0 0 0 \
Bronx 47 25 25 0 1 0 \
Bronx 48 39 39 0 0 0 \
Bronx 49 41 41 0 0 0 \
Bronx 50 19 19 0 0 0 \
Bronx 52 32 32 0 2 0"

table14_Brooklyn_BM = "Brooklyn 60 42 43 0 0 0 \
Brooklyn 61 69 72 1 1 0 \
Brooklyn 62 70 70 0 0 0 \
Brooklyn 63 32 32 0 0 0 \
Brooklyn 66 89 89 0 0 0 \
Brooklyn 67 59 61 0 2 0 \
Brooklyn 68 40 40 0 1 0 \
Brooklyn 69 19 19 0 0 0 \
Brooklyn 70 93 93 0 0 0 \
Brooklyn 71 46 45 1 0 0 \
Brooklyn 72 75 75 0 0 0 \
Brooklyn 73 31 30 1 0 0 \
Brooklyn 75 79 83 0 1 0 \
Brooklyn 76 17 17 0 1 0 \
Brooklyn 77 69 69 0 0 0 \
Brooklyn 78 81 81 0 0 0 \
Brooklyn 79 86 86 0 2 0 \
Brooklyn 81 45 44 1 3 0 \
Brooklyn 83 81 81 0 3 0 \
Brooklyn 84 54 53 1 0 0 \
Brooklyn 88 83 83 0 0 0 \
Brooklyn 90 177 176 1 3 0 \
Brooklyn 94 68 69 0 2 0"

table14_Queens_BM = "Queens 100 10 10 0 0 0 \
Queens 101 17 17 0 1 0 \
Queens 102 45 46 1 0 0 \
Queens 103 42 42 0 0 0 \
Queens 104 57 57 0 0 0 \
Queens 105 47 45 2 6 0 \
Queens 106 33 34 0 1 0 \
Queens 107 26 26 0 0 0 \
Queens 108 114 114 0 1 0 \
Queens 109 54 53 1 0 0 \
Queens 110 79 78 1 0 0 \
Queens 111 13 13 0 0 0 \
Queens 112 20 19 1 0 0 \
Queens 113 39 38 1 1 0 \
Queens 114 123 122 1 1 0 \
Queens 115 93 94 0 2 0"

table14_StatenIsland_BM = "StatenIsland 120 29 29 0 1 0 \
StatenIsland 121 15 15 0 0 0 \
StatenIsland 122 15 15 0 0 0 \
StatenIsland 123 1 1 0 0 0"

In [30]:
table15_Manhattan_BM = "Manhattan 1 90 91 0 0 0 \
Manhattan 5 73 75 0 3 0 \
Manhattan 6 58 60 0 0 0 \
Manhattan 7 51 51 0 1 0 \
Manhattan 9 86 87 0 1 0 \
Manhattan 10 51 51 0 0 0 \
Manhattan 13 136 136 0 0 0 \
Manhattan 14 94 94 0 0 0 \
Manhattan 17 108 108 0 0 0 \
Manhattan 18 104 106 0 0 0 \
Manhattan 19 111 111 0 2 0 \
Manhattan 20 50 51 0 0 0 \
Manhattan 22 5 5 0 0 0 \
Manhattan 23 37 37 0 1 0 \
Manhattan 24 40 40 0 0 0 \
Manhattan 25 38 37 1 1 0 \
Manhattan 26 19 20 0 0 0 \
Manhattan 28 42 42 0 1 0 \
Manhattan 30 27 28 0 0 0 \
Manhattan 32 29 30 1 0 0 \
Manhattan 33 28 28 0 0 0 \
Manhattan 34 36 36 0 0 0"

table15_Bronx_BM = "Bronx 40 58 59 0 3 0 \
Bronx 41 21 21 0 1 0 \
Bronx 42 32 32 0 0 0 \
Bronx 43 32 32 0 1 0 \
Bronx 44 60 59 1 0 0 \
Bronx 45 26 25 1 0 0 \
Bronx 46 43 45 0 0 0 \
Bronx 47 37 37 0 0 0 \
Bronx 48 42 42 0 1 0 \
Bronx 49 39 39 0 0 0 \
Bronx 50 29 29 0 0 0 \
Bronx 52 35 35 0 1 0"

table15_Brooklyn_BM = "Brooklyn 60 29 29 0 1 0 \
Brooklyn 61 73 73 0 0 0 \
Brooklyn 62 58 58 0 1 0 \
Brooklyn 63 20 20 0 0 0 \
Brooklyn 66 122 122 0 1 0 \
Brooklyn 67 79 80 0 2 0 \
Brooklyn 68 41 42 0 0 0 \
Brooklyn 69 19 19 0 2 0 \
Brooklyn 70 117 119 1 1 0 \
Brooklyn 71 51 52 0 0 0 \
Brooklyn 72 71 72 1 0 0 \
Brooklyn 73 39 39 0 0 0 \
Brooklyn 75 87 90 0 0 0 \
Brooklyn 76 34 33 1 0 0 \
Brooklyn 77 59 60 0 2 0 \
Brooklyn 78 74 73 1 8 0 \
Brooklyn 79 102 102 0 1 0 \
Brooklyn 81 64 64 0 0 0 \
Brooklyn 83 84 84 0 1 0 \
Brooklyn 84 55 55 0 0 0 \
Brooklyn 88 99 99 0 1 0 \
Brooklyn 90 177 177 0 3 0 \
Brooklyn 94 90 90 0 1 0"

table15_Queens_BM = "Queens 100 14 14 0 0 0 \
Queens 101 17 16 1 1 0 \
Queens 102 59 59 0 1 0 \
Queens 103 33 33 0 0 0 \
Queens 104 102 102 0 1 0 \
Queens 105 43 44 0 2 0 \
Queens 106 44 44 1 0 0 \
Queens 107 24 24 0 0 0 \
Queens 108 117 116 2 2 0 \
Queens 109 77 77 0 1 0 \
Queens 110 94 96 0 0 0 \
Queens 111 24 24 0 0 0 \
Queens 112 34 34 0 0 0 \
Queens 113 46 46 0 0 0 \
Queens 114 111 110 1 3 0 \
Queens 115 106 108 0 0 0"

table15_StatenIsland_BM = "StatenIsland 120 16 16 0 1 0 \
StatenIsland 121 21 21 0 0 0 \
StatenIsland 122 13 13 1 0 0 \
StatenIsland 123 5 5 0 0 0"

In [31]:
table16_Manhattan_BM = "Manhattan 1 88 87 1 2 0 \
Manhattan 5 81 81 0 0 0 \
Manhattan 6 60 60 0 1 0 \
Manhattan 7 45 46 0 0 0 \
Manhattan 9 84 84 0 3 0 \
Manhattan 10 53 53 0 0 0 \
Manhattan 13 121 121 0 4 0 \
Manhattan 14 115 116 0 1 0 \
Manhattan 17 94 94 0 1 0 \
Manhattan 18 104 103 1 1 0 \
Manhattan 19 111 112 0 1 0 \
Manhattan 20 46 46 0 0 0 \
Manhattan 22 6 6 0 0 0 \
Manhattan 23 27 27 0 0 0 \
Manhattan 24 48 48 0 0 0 \
Manhattan 25 39 39 0 1 0 \
Manhattan 26 25 25 0 0 0 \
Manhattan 28 39 39 0 0 0 \
Manhattan 30 26 26 0 0 0 \
Manhattan 32 50 50 0 3 0 \
Manhattan 33 23 23 0 0 0 \
Manhattan 34 42 42 0 0 0"

table16_Bronx_BM = "Bronx 40 79 79 0 0 0 \
Bronx 41 30 30 0 0 0 \
Bronx 42 30 30 0 6 0 \
Bronx 43 52 53 0 0 0 \
Bronx 44 47 48 0 3 0 \
Bronx 45 30 30 1 0 0 \
Bronx 46 33 35 0 2 0 \
Bronx 47 33 33 0 0 0 \
Bronx 48 32 33 0 0 0 \
Bronx 49 36 36 1 0 0 \
Bronx 50 18 18 0 1 0 \
Bronx 52 44 45 1 1 0"

table16_Brooklyn_BM = "Brooklyn 60 28 29 0 1 0 \
Brooklyn 61 74 72 2 3 0 \
Brooklyn 62 79 79 0 0 0 \
Brooklyn 63 27 27 0 0 0 \
Brooklyn 66 116 116 0 2 0 \
Brooklyn 67 81 82 0 3 0 \
Brooklyn 68 46 47 0 0 0 \
Brooklyn 69 26 26 0 0 0 \
Brooklyn 70 114 113 1 2 0 \
Brooklyn 71 71 70 1 0 0 \
Brooklyn 72 102 103 0 1 0 \
Brooklyn 73 47 47 0 3 0 \
Brooklyn 75 100 101 1 4 0 \
Brooklyn 76 35 36 0 0 0 \
Brooklyn 77 76 77 0 2 0 \
Brooklyn 78 89 89 1 0 0 \
Brooklyn 79 108 110 0 0 0 \
Brooklyn 81 55 55 0 1 0 \
Brooklyn 83 98 97 1 1 0 \
Brooklyn 84 63 63 0 0 0 \
Brooklyn 88 106 106 1 3 0 \
Brooklyn 90 198 199 1 2 0 \
Brooklyn 94 83 83 0 0 0"

table16_Queens_BM = "Queens 100 7 7 0 0 0 \
Queens 101 15 15 0 1 0 \
Queens 102 48 48 0 1 0 \
Queens 103 31 31 0 0 0 \
Queens 104 82 82 0 2 0 \
Queens 105 32 32 0 0 0 \
Queens 106 41 41 0 0 0 \
Queens 107 35 35 0 1 0 \
Queens 108 101 102 0 3 0 \
Queens 109 79 80 0 0 0 \
Queens 110 96 98 1 1 0 \
Queens 111 20 19 1 1 0 \
Queens 112 30 30 0 0 0 \
Queens 113 39 42 0 1 0 \
Queens 114 123 123 0 0 0 \
Queens 115 109 110 1 2 0"

table16_StatenIsland_BM = "StatenIsland 120 33 33 0 1 0 \
StatenIsland 121 19 19 0 2 0 \
StatenIsland 122 16 15 1 0 0 \
StatenIsland 123 5 5 0 0 0"

## Data from the Bicyclist-Pedestrian-incidents for years 2014-2016:

In [32]:
table14_Manhattan_BP = "Manhattan 1 13 13 0 2 0 \
Manhattan 5 10 10 0 1 0 \
Manhattan 6 17 17 0 3 0 \
Manhattan 7 7 7 1 1 0 \
Manhattan 9 8 8 0 1 0 \
Manhattan 10 3 3 0 0 0 \
Manhattan 13 20 21 0 3 0 \
Manhattan 14 12 12 0 1 0 \
Manhattan 17 8 8 0 0 0 \
Manhattan 18 8 8 0 0 0 \
Manhattan 19 6 6 0 0 0 \
Manhattan 20 4 4 0 0 0 \
Manhattan 22 34 32 2 12 0 \
Manhattan 23 3 3 0 1 0 \
Manhattan 24 8 8 0 1 0 \
Manhattan 25 2 2 0 0 0 \
Manhattan 26 4 4 0 1 0 \
Manhattan 28 2 2 0 0 0 \
Manhattan 30 1 1 0 0 0 \
Manhattan 32 1 1 0 0 0 \
Manhattan 33 3 3 0 0 0 \
Manhattan 34 4 4 0 3 0"

table14_Bronx_BP = "Bronx 40 2 2 0 1 0 \
Bronx 41 1 1 0 0 0 \
Bronx 42 1 1 0 0 0 \
Bronx 43 0 0 0 0 0 \
Bronx 44 0 0 0 0 0 \
Bronx 45 1 1 0 0 0 \
Bronx 46 0 0 0 0 0 \
Bronx 47 0 0 0 0 0 \
Bronx 48 1 1 0 0 0 \
Bronx 49 0 0 0 0 0 \
Bronx 50 2 2 0 1 0 \
Bronx 52 2 2 0 0 0"

table14_Brooklyn_BP = "Brooklyn 60 3 3 0 0 0 \
Brooklyn 61 2 2 0 0 0 \
Brooklyn 62 3 3 0 0 0 \
Brooklyn 63 1 1 0 0 0 \
Brooklyn 66 1 1 0 0 0 \
Brooklyn 67 1 1 0 0 0 \
Brooklyn 68 3 3 0 0 0 \
Brooklyn 69 0 0 0 0 0 \
Brooklyn 70 3 3 0 0 0 \
Brooklyn 71 4 4 0 2 0 \
Brooklyn 72 2 3 0 0 0 \
Brooklyn 73 2 2 0 0 0 \
Brooklyn 75 0 0 0 0 0 \
Brooklyn 76 2 2 0 0 0 \
Brooklyn 77 1 1 0 0 0 \
Brooklyn 78 13 13 0 6 0 \
Brooklyn 79 7 7 0 0 0 \
Brooklyn 81 1 1 0 0 0 \
Brooklyn 83 5 6 0 0 0 \
Brooklyn 84 10 10 0 2 0 \
Brooklyn 88 2 2 0 2 0 \
Brooklyn 90 11 12 0 2 0 \
Brooklyn 94 6 6 0 1 0"

table14_Queens_BP = "Queens 100 1 1 0 0 0 \
Queens 101 1 1 0 0 0 \
Queens 102 1 1 0 0 0 \
Queens 103 4 4 0 0 0 \
Queens 104 4 4 0 0 0 \
Queens 105 1 1 0 0 0 \
Queens 106 1 1 0 0 0 \
Queens 107 0 0 0 0 0 \
Queens 108 1 1 0 0 0 \
Queens 109 3 3 0 0 0 \
Queens 110 3 4 0 0 0 \
Queens 111 1 1 0 0 0 \
Queens 112 2 2 0 0 0 \
Queens 113 0 0 0 0 0 \
Queens 114 4 4 0 0 0 \
Queens 115 4 4 0 0 0"

table14_StatenIsland_BP = "StatenIsland 120 0 0 0 0 0 \
StatenIsland 121 0 0 0 0 0 \
StatenIsland 122 0 0 0 0 0 \
StatenIsland 123 0 0 0 0 0"

In [33]:
table15_Manhattan_BP = "Manhattan 1 12 13 0 0 0 \
Manhattan 5 12 12 0 0 0 \
Manhattan 6 8 8 0 1 0 \
Manhattan 7 6 6 0 0 0 \
Manhattan 9 9 9 0 0 0 \
Manhattan 10 1 1 0 0 0 \
Manhattan 13 17 17 0 0 0 \
Manhattan 14 22 22 0 0 0 \
Manhattan 17 15 15 0 1 0 \
Manhattan 18 14 15 0 0 0 \
Manhattan 19 21 22 0 0 0 \
Manhattan 20 10 10 0 0 0 \
Manhattan 22 14 14 0 3 0 \
Manhattan 23 5 5 0 0 0 \
Manhattan 24 13 13 0 2 0 \
Manhattan 25 3 3 0 1 0 \
Manhattan 26 5 5 0 1 0 \
Manhattan 28 3 3 0 0 0 \
Manhattan 30 3 3 0 0 0 \
Manhattan 32 1 1 0 0 0 \
Manhattan 33 0 0 0 0 0 \
Manhattan 34 2 2 0 0 0"

table15_Bronx_BP = "Bronx 40 4 4 0 0 0 \
Bronx 41 0 0 0 0 0 \
Bronx 42 0 0 0 0 0 \
Bronx 43 0 0 0 0 0 \
Bronx 44 3 3 0 0 0 \
Bronx 45 1 1 0 0 0 \
Bronx 46 3 3 0 0 0 \
Bronx 47 0 0 0 0 0 \
Bronx 48 4 4 0 0 0 \
Bronx 49 1 1 0 0 0 \
Bronx 50 1 1 0 1 0 \
Bronx 52 3 3 0 1 0"

table15_Brooklyn_BP = "Brooklyn 60 2 2 0 0 0 \
Brooklyn 61 1 1 0 0 0 \
Brooklyn 62 5 5 0 1 0 \
Brooklyn 63 0 0 0 0 0 \
Brooklyn 66 9 10 0 1 0 \
Brooklyn 67 1 2 0 0 0 \
Brooklyn 68 3 3 0 0 0 \
Brooklyn 69 0 0 0 0 0 \
Brooklyn 70 4 4 0 0 0 \
Brooklyn 71 3 3 0 1 0 \
Brooklyn 72 3 3 0 1 0 \
Brooklyn 73 0 0 0 0 0 \
Brooklyn 75 1 1 0 0 0 \
Brooklyn 76 3 3 0 0 0 \
Brooklyn 77 5 5 0 0 0 \
Brooklyn 78 10 11 0 1 0 \
Brooklyn 79 9 9 0 2 1 \
Brooklyn 81 1 1 0 0 0 \
Brooklyn 83 5 6 0 0 0 \
Brooklyn 84 9 9 0 0 0 \
Brooklyn 88 5 5 0 1 0 \
Brooklyn 90 12 13 0 3 0 \
Brooklyn 94 5 5 0 3 0"

table15_Queens_BP = "Queens 100 0 0 0 0 0 \
Queens 101 0 0 0 0 0 \
Queens 102 2 3 0 0 0 \
Queens 103 0 0 0 0 0 \
Queens 104 3 3 0 0 0 \
Queens 105 0 0 0 0 0 \
Queens 106 0 0 0 0 0 \
Queens 107 1 1 0 0 0 \
Queens 108 0 0 0 0 0 \
Queens 109 3 4 0 0 0 \
Queens 110 11 12 0 1 0 \
Queens 111 1 1 0 0 0 \
Queens 112 1 1 0 0 0 \
Queens 113 0 0 0 0 0 \
Queens 114 6 6 0 2 0 \
Queens 115 6 6 0 0 0"

table15_StatenIsland_BP = "StatenIsland 120 1 1 0 0 0 \
StatenIsland 121 0 0 0 0 0 \
StatenIsland 122 1 2 0 0 0 \
StatenIsland 123 1 1 0 0 0"

In [34]:
table16_Manhattan_BP = "Manhattan 1 9 10 0 2 0 \
Manhattan 5 7 7 0 0 0 \
Manhattan 6 8 7 0 1 0 \
Manhattan 7 4 4 0 3 0 \
Manhattan 9 11 11 0 1 0 \
Manhattan 10 9 7 0 2 0 \
Manhattan 13 20 20 0 2 0 \
Manhattan 14 25 24 0 1 0 \
Manhattan 17 8 9 0 0 0 \
Manhattan 18 12 12 0 1 0 \
Manhattan 19 19 15 0 4 0 \
Manhattan 20 7 5 0 2 0 \
Manhattan 22 29 14 0 16 0 \
Manhattan 23 5 4 0 1 0 \
Manhattan 24 7 7 0 0 0 \
Manhattan 25 3 3 0 0 0 \
Manhattan 26 3 3 0 0 0 \
Manhattan 28 1 1 0 0 0 \
Manhattan 30 5 4 0 0 0 \
Manhattan 32 1 1 0 0 0 \
Manhattan 33 3 3 0 0 0 \
Manhattan 34 2 2 0 1 0"

table16_Bronx_BP = "Bronx 40 3 3 0 1 0 \
Bronx 41 2 2 0 1 0 \
Bronx 42 1 1 0 0 0 \
Bronx 43 4 3 0 0 0 \
Bronx 44 0 0 0 0 0 \
Bronx 45 2 2 0 0 0 \
Bronx 46 0 0 0 0 0 \
Bronx 47 2 2 0 0 0 \
Bronx 48 1 1 0 0 0 \
Bronx 49 1 1 0 0 0 \
Bronx 50 2 2 0 0 0 \
Bronx 52 3 3 0 1 0"

table16_Brooklyn_BP = "Brooklyn 60 2 2 0 0 0 \
Brooklyn 61 4 4 0 1 0 \
Brooklyn 62 7 5 0 1 0 \
Brooklyn 63 1 0 0 0 0 \
Brooklyn 66 5 6 0 0 0 \
Brooklyn 67 4 4 0 0 0 \
Brooklyn 68 2 2 0 1 0 \
Brooklyn 69 0 0 0 0 0 \
Brooklyn 70 2 3 0 0 0 \
Brooklyn 71 4 3 0 0 0 \
Brooklyn 72 6 7 0 1 0 \
Brooklyn 73 2 2 0 0 0 \
Brooklyn 75 4 4 0 0 0 \
Brooklyn 76 1 1 0 0 0 \
Brooklyn 77 3 3 0 1 0 \
Brooklyn 78 7 5 0 5 0 \
Brooklyn 79 4 5 0 0 0 \
Brooklyn 81 1 1 0 0 0 \
Brooklyn 83 3 3 0 0 0 \
Brooklyn 84 17 13 0 6 0 \
Brooklyn 88 4 4 0 0 0 \
Brooklyn 90 6 4 0 3 0 \
Brooklyn 94 3 3 0 1 0"

table16_Queens_BP = "Queens 100 0 0 0 0 0 \
Queens 101 1 1 0 0 0 \
Queens 102 0 0 0 0 0 \
Queens 103 0 0 0 0 0 \
Queens 104 4 4 0 0 0 \
Queens 105 1 0 0 1 0 \
Queens 106 0 0 0 0 0 \
Queens 107 1 1 0 0 0 \
Queens 108 5 4 0 1 0 \
Queens 109 3 2 0 0 0 \
Queens 110 5 6 0 0 0 \
Queens 111 0 0 0 0 0 \
Queens 112 2 2 0 0 0 \
Queens 113 1 1 0 0 0 \
Queens 114 5 5 0 0 0 \
Queens 115 8 6 0 2 0"

table16_StatenIsland_BP = "StatenIsland 120 1 1 0 0 0 \
StatenIsland 121 0 0 0 0 0 \
StatenIsland 122 1 1 0 0 0 \
StatenIsland 123 0 0 0 0 0"

## Data from the Bicyclist-Bicyclist-Incidents for years 2014-2016:

In [35]:
table14_Manhattan_BB = "Manhattan 1 2 2 0 \
Manhattan 5 1 2 0 \
Manhattan 6 0 0 0 \
Manhattan 7 0 0 0 \
Manhattan 9 4 5 0 \
Manhattan 10 1 1 0 \
Manhattan 13 2 1 0 \
Manhattan 14 1 2 0 \
Manhattan 17 1 2 0 \
Manhattan 18 2 1 0 \
Manhattan 19 5 2 0 \
Manhattan 20 1 1 0 \
Manhattan 22 29 28 0 \
Manhattan 23 0 0 0 \
Manhattan 24 2 2 0 \
Manhattan 25 0 0 0 \
Manhattan 26 1 1 0 \
Manhattan 28 0 0 0 \
Manhattan 30 1 1 0 \
Manhattan 32 1 0 0 \
Manhattan 33 0 0 0 \
Manhattan 34 0 0 0"

table14_Bronx_BB = "Bronx 40 0 0 0 \
Bronx 41 0 0 0 \
Bronx 42 0 0 0 \
Bronx 43 0 0 0 \
Bronx 44 0 0 0 \
Bronx 45 0 0 0 \
Bronx 46 0 0 0 \
Bronx 47 1 0 0 \
Bronx 48 0 0 0 \
Bronx 49 0 0 0 \
Bronx 50 0 0 0 \
Bronx 52 0 0 0"

table14_Brooklyn_BB = "Brooklyn 60 0 0 0 \
Brooklyn 61 0 0 0 \
Brooklyn 62 0 0 0 \
Brooklyn 63 0 0 0 \
Brooklyn 66 0 0 0 \
Brooklyn 67 1 0 0 \
Brooklyn 68 0 0 0 \
Brooklyn 69 0 0 0 \
Brooklyn 70 0 0 0 \
Brooklyn 71 2 2 0 \
Brooklyn 72 0 0 0 \
Brooklyn 73 2 2 0 \
Brooklyn 75 0 0 0 \
Brooklyn 76 0 0 0 \
Brooklyn 77 1 2 0 \
Brooklyn 78 12 15 0 \
Brooklyn 79 1 1 0 \
Brooklyn 81 1 1 0 \
Brooklyn 83 1 1 0 \
Brooklyn 84 1 2 0 \
Brooklyn 88 4 2 0 \
Brooklyn 90 5 7 0 \
Brooklyn 94 2 2 0"

table14_Queens_BB = "Queens 100 0 0 0 \
Queens 101 0 0 0 \
Queens 102 2 0 0 \
Queens 103 0 0 0 \
Queens 104 3 2 0 \
Queens 105 0 0 0 \
Queens 106 0 0 0 \
Queens 107 0 0 0 \
Queens 108 0 0 0 \
Queens 109 0 0 0 \
Queens 110 0 0 0 \
Queens 111 0 0 0 \
Queens 112 0 0 0 \
Queens 113 0 0 0 \
Queens 114 0 0 0 \
Queens 115 2 3 0"

table14_StatenIsland_BB = "StatenIsland 120 0 0 0 \
StatenIsland 121 0 0 0 \
StatenIsland 122 1 0 0 \
StatenIsland 123 0 0 0"

In [36]:
table15_Manhattan_BB = "Manhattan 1 5 5 0 \
Manhattan 5 4 5 0 \
Manhattan 6 3 4 0 \
Manhattan 7 4 3 0 \
Manhattan 9 7 2 0 \
Manhattan 10 2 1 0 \
Manhattan 13 2 2 0 \
Manhattan 14 1 0 0 \
Manhattan 17 2 1 0 \
Manhattan 18 2 2 0 \
Manhattan 19 0 0 0 \
Manhattan 20 2 1 0 \
Manhattan 22 17 19 0 \
Manhattan 23 0 0 0 \
Manhattan 24 1 1 0 \
Manhattan 25 2 3 0 \
Manhattan 26 0 0 0 \
Manhattan 28 0 0 0 \
Manhattan 30 1 1 0 \
Manhattan 32 0 0 0 \
Manhattan 33 0 0 0 \
Manhattan 34 1 0 0"

table15_Bronx_BB = "Bronx 40 1 0 0 \
Bronx 41 0 0 0 \
Bronx 42 0 0 0 \
Bronx 43 1 1 0 \
Bronx 44 0 0 0 \
Bronx 45 1 1 0 \
Bronx 46 0 0 0 \
Bronx 47 0 0 0 \
Bronx 48 0 0 0 \
Bronx 49 1 1 0 \
Bronx 50 0 0 0 \
Bronx 52 0 0 0"

table15_Brooklyn_BB = "Brooklyn 60 0 0 0 \
Brooklyn 61 0 0 0 \
Brooklyn 62 1 1 0 \
Brooklyn 63 0 0 0 \
Brooklyn 66 2 2 0 \
Brooklyn 67 1 0 0 \
Brooklyn 68 2 3 0 \
Brooklyn 69 0 0 0 \
Brooklyn 70 0 0 0 \
Brooklyn 71 0 0 0 \
Brooklyn 72 2 3 0 \
Brooklyn 73 0 0 0 \
Brooklyn 75 0 0 0 \
Brooklyn 76 1 0 0 \
Brooklyn 77 1 0 0 \
Brooklyn 78 4 6 0 \
Brooklyn 79 3 2 0 \
Brooklyn 81 0 0 0 \
Brooklyn 83 1 1 0 \
Brooklyn 84 2 2 0 \
Brooklyn 88 0 0 0 \
Brooklyn 90 4 3 0 \
Brooklyn 94 2 3 0"

table15_Queens_BB = "Queens 100 0 0 0 \
Queens 101 0 0 0 \
Queens 102 0 0 0 \
Queens 103 0 0 0 \
Queens 104 1 0 0 \
Queens 105 0 0 0 \
Queens 106 0 0 0 \
Queens 107 0 0 0 \
Queens 108 2 2 0 \
Queens 109 0 0 0 \
Queens 110 0 0 0 \
Queens 111 0 0 0 \
Queens 112 0 0 0 \
Queens 113 0 0 0 \
Queens 114 0 0 0 \
Queens 115 2 1 0"

table15_StatenIsland_BB = "StatenIsland 120 0 0 0 \
StatenIsland 121 0 0 0 \
StatenIsland 122 0 0 0 \
StatenIsland 123 0 0 0"

In [37]:
table16_Manhattan_BB = "Manhattan 1 1 1 0 \
Manhattan 5 3 8 0 \
Manhattan 6 4 3 0 \
Manhattan 7 1 1 0 \
Manhattan 9 0 0 0 \
Manhattan 10 2 1 0 \
Manhattan 13 1 1 0 \
Manhattan 14 1 2 0 \
Manhattan 17 0 0 0 \
Manhattan 18 1 0 0 \
Manhattan 19 2 2 0 \
Manhattan 20 3 3 0 \
Manhattan 22 44 62 0 \
Manhattan 23 0 0 0 \
Manhattan 24 0 0 0 \
Manhattan 25 0 0 0 \
Manhattan 26 0 0 0 \
Manhattan 28 1 1 0 \
Manhattan 30 0 0 0 \
Manhattan 32 0 0 0 \
Manhattan 33 1 1 0 \
Manhattan 34 0 0 0"

table16_Bronx_BB = "Bronx 40 0 0 0 \
Bronx 41 0 0 0 \
Bronx 42 0 0 0 \
Bronx 43 0 0 0 \
Bronx 44 0 0 0 \
Bronx 45 0 0 0 \
Bronx 46 0 0 0 \
Bronx 47 0 0 0 \
Bronx 48 0 0 0 \
Bronx 49 0 0 0 \
Bronx 50 0 0 0 \
Bronx 52 0 0 0"

table16_Brooklyn_BB = "Brooklyn 60 0 0 0 \
Brooklyn 61 0 0 0 \
Brooklyn 62 2 2 0 \
Brooklyn 63 0 0 0 \
Brooklyn 66 0 0 0 \
Brooklyn 67 0 0 0 \
Brooklyn 68 0 0 0 \
Brooklyn 69 0 0 0 \
Brooklyn 70 0 0 0 \
Brooklyn 71 1 2 0 \
Brooklyn 72 2 3 0 \
Brooklyn 73 0 0 0 \
Brooklyn 75 0 0 0 \
Brooklyn 76 0 0 0 \
Brooklyn 77 0 0 0 \
Brooklyn 78 6 10 0 \
Brooklyn 79 2 3 0 \
Brooklyn 81 0 0 0 \
Brooklyn 83 0 0 0 \
Brooklyn 84 0 0 0 \
Brooklyn 88 2 1 0 \
Brooklyn 90 1 1 0 \
Brooklyn 94 2 4 0"

table16_Queens_BB = "Queens 100 2 2 0 \
Queens 101 0 0 0 \
Queens 102 0 0 0 \
Queens 103 0 0 0 \
Queens 104 0 0 0 \
Queens 105 0 0 0 \
Queens 106 0 0 0 \
Queens 107 0 0 0 \
Queens 108 1 2 0 \
Queens 109 0 0 0 \
Queens 110 0 0 0 \
Queens 111 0 0 0 \
Queens 112 0 0 0 \
Queens 113 0 0 0 \
Queens 114 2 3 0 \
Queens 115 1 2 0"

table16_StatenIsland_BB = "StatenIsland 120 0 0 0 \
StatenIsland 121 0 0 0 \
StatenIsland 122 0 0 0 \
StatenIsland 123 0 0 0"

## Data from the single-Bicyclist-Incidents for years 2014-2016:

In [38]:
table14_Manhattan_SB = "Manhattan 1 7 6 0 \
Manhattan 5 6 4 0 \
Manhattan 6 2 0 0 \
Manhattan 7 12 11 0 \
Manhattan 9 15 12 0 \
Manhattan 10 7 5 0 \
Manhattan 13 6 5 0 \
Manhattan 14 1 1 0 \
Manhattan 17 3 3 0 \
Manhattan 18 9 4 0 \
Manhattan 19 12 6 0 \
Manhattan 20 9 6 0 \
Manhattan 22 114 99 0 \
Manhattan 23 6 3 0 \
Manhattan 24 6 6 0 \
Manhattan 25 2 2 0 \
Manhattan 26 2 1 0 \
Manhattan 28 2 2 0 \
Manhattan 30 5 3 0 \
Manhattan 32 2 1 0 \
Manhattan 33 4 3 0 \
Manhattan 34 1 1 0"

table14_Bronx_SB = "Bronx 40 4 3 0 \
Bronx 41 1 1 0 \
Bronx 42 1 1 0 \
Bronx 43 2 2 0 \
Bronx 44 0 0 0 \
Bronx 45 3 3 0 \
Bronx 46 2 2 0 \
Bronx 47 0 0 0 \
Bronx 48 0 0 0 \
Bronx 49 2 2 0 \
Bronx 50 2 2 0 \
Bronx 52 6 6 0"

table14_Brooklyn_SB = "Brooklyn 60 3 3 0 \
Brooklyn 61 1 1 0 \
Brooklyn 62 3 3 0 \
Brooklyn 63 4 4 0 \
Brooklyn 66 4 3 0 \
Brooklyn 67 0 0 0 \
Brooklyn 68 1 1 0 \
Brooklyn 69 1 1 0 \
Brooklyn 70 4 4 0 \
Brooklyn 71 3 3 0 \
Brooklyn 72 9 9 0 \
Brooklyn 73 1 1 0 \
Brooklyn 75 2 2 0 \
Brooklyn 76 2 2 0 \
Brooklyn 77 4 3 0 \
Brooklyn 78 21 20 0 \
Brooklyn 79 4 4 0 \
Brooklyn 81 0 0 0 \
Brooklyn 83 2 1 0 \
Brooklyn 84 7 7 0 \
Brooklyn 88 9 9 0 \
Brooklyn 90 18 16 0 \
Brooklyn 94 6 5 1"

table14_Queens_SB = "Queens 100 0 0 0 \
Queens 101 2 2 0 \
Queens 102 2 2 0 \
Queens 103 0 0 0 \
Queens 104 1 0 0 \
Queens 105 0 0 0 \
Queens 106 3 2 0 \
Queens 107 0 0 0 \
Queens 108 8 8 0 \
Queens 109 3 2 0 \
Queens 110 3 2 0 \
Queens 111 2 2 0 \
Queens 112 1 1 0 \
Queens 113 1 0 0 \
Queens 114 3 2 0 \
Queens 115 6 6 0"

table14_StatenIsland_SB = "StatenIsland 120 1 1 0 \
StatenIsland 121 0 0 0 \
StatenIsland 122 0 0 0 \
StatenIsland 123 3 3 0"

In [39]:
table15_Manhattan_SB = "Manhattan 1 10 10 0 \
Manhattan 5 10 7 0 \
Manhattan 6 5 5 0 \
Manhattan 7 6 5 0 \
Manhattan 9 5 4 0 \
Manhattan 10 7 6 0 \
Manhattan 13 13 11 0 \
Manhattan 14 9 7 0 \
Manhattan 17 7 7 0 \
Manhattan 18 7 4 0 \
Manhattan 19 6 5 0 \
Manhattan 20 10 7 1 \
Manhattan 22 100 80 0 \
Manhattan 23 2 2 0 \
Manhattan 24 10 8 0 \
Manhattan 25 2 1 0 \
Manhattan 26 3 3 0 \
Manhattan 28 3 2 0 \
Manhattan 30 6 6 0 \
Manhattan 32 2 2 0 \
Manhattan 33 1 1 0 \
Manhattan 34 4 3 0"

table15_Bronx_SB = "Bronx 40 2 2 0 \
Bronx 41 1 1 0 \
Bronx 42 2 1 0 \
Bronx 43 3 2 0 \
Bronx 44 0 0 0 \
Bronx 45 1 1 0 \
Bronx 46 3 3 0 \
Bronx 47 1 1 0 \
Bronx 48 0 0 0 \
Bronx 49 3 3 0 \
Bronx 50 2 2 0 \
Bronx 52 4 4 0"

table15_Brooklyn_SB = "Brooklyn 60 5 4 0 \
Brooklyn 61 2 2 0 \
Brooklyn 62 1 1 0 \
Brooklyn 63 2 2 0 \
Brooklyn 66 10 9 0 \
Brooklyn 67 0 0 0 \
Brooklyn 68 3 3 0 \
Brooklyn 69 0 0 0 \
Brooklyn 70 2 1 0 \
Brooklyn 71 4 4 0 \
Brooklyn 72 8 8 0 \
Brooklyn 73 1 0 0 \
Brooklyn 75 3 3 0 \
Brooklyn 76 6 4 0 \
Brooklyn 77 4 3 0 \
Brooklyn 78 14 13 0 \
Brooklyn 79 10 8 0 \
Brooklyn 81 1 1 0 \
Brooklyn 83 2 2 0 \
Brooklyn 84 11 9 0 \
Brooklyn 88 6 5 0 \
Brooklyn 90 23 21 0 \
Brooklyn 94 11 9 0"

table15_Queens_SB = "Queens 100 1 1 0 \
Queens 101 2 1 0 \
Queens 102 4 4 0 \
Queens 103 0 0 0 \
Queens 104 6 6 0 \
Queens 105 0 0 0 \
Queens 106 1 0 0 \
Queens 107 1 1 0 \
Queens 108 5 5 0 \
Queens 109 2 2 0 \
Queens 110 4 3 0 \
Queens 111 2 2 0 \
Queens 112 2 1 0 \
Queens 113 0 0 0 \
Queens 114 4 4 0 \
Queens 115 5 4 0"

table15_StatenIsland_SB = "StatenIsland 120 0 0 0 \
StatenIsland 121 1 1 0 \
StatenIsland 122 0 0 0 \
StatenIsland 123 0 0 0"

In [40]:
table16_Manhattan_SB = "Manhattan 1 6 6 0 \
Manhattan 5 7 6 0 \
Manhattan 6 3 2 0 \
Manhattan 7 6 5 0 \
Manhattan 9 4 4 0 \
Manhattan 10 3 2 0 \
Manhattan 13 3 2 0 \
Manhattan 14 0 0 0 \
Manhattan 17 2 2 0 \
Manhattan 18 0 0 0 \
Manhattan 19 5 4 0 \
Manhattan 20 2 2 0 \
Manhattan 22 57 42 0 \
Manhattan 23 0 0 0 \
Manhattan 24 4 2 0 \
Manhattan 25 0 0 0 \
Manhattan 26 6 6 0 \
Manhattan 28 0 0 0 \
Manhattan 30 2 1 0 \
Manhattan 32 0 0 0 \
Manhattan 33 0 0 0 \
Manhattan 34 1 1 0"

table16_Bronx_SB = "Bronx 40 5 5 0 \
Bronx 41 0 0 0 \
Bronx 42 1 1 0 \
Bronx 43 2 1 0 \
Bronx 44 0 0 0 \
Bronx 45 2 2 0 \
Bronx 46 0 0 0 \
Bronx 47 1 1 0 \
Bronx 48 1 1 0 \
Bronx 49 2 2 0 \
Bronx 50 1 1 0 \
Bronx 52 0 0 0"

table16_Brooklyn_SB = "Brooklyn 60 0 0 0 \
Brooklyn 61 2 1 0 \
Brooklyn 62 1 1 0 \
Brooklyn 63 1 1 0 \
Brooklyn 66 0 0 0 \
Brooklyn 67 0 0 0 \
Brooklyn 68 2 2 0 \
Brooklyn 69 0 0 0 \
Brooklyn 70 1 1 0 \
Brooklyn 71 0 0 0 \
Brooklyn 72 9 8 0 \
Brooklyn 73 0 0 0 \
Brooklyn 75 3 2 0 \
Brooklyn 76 2 2 0 \
Brooklyn 77 4 4 0 \
Brooklyn 78 10 10 0 \
Brooklyn 79 5 5 0 \
Brooklyn 81 2 2 0 \
Brooklyn 83 2 2 0 \
Brooklyn 84 8 6 0 \
Brooklyn 88 4 4 0 \
Brooklyn 90 10 9 0 \
Brooklyn 94 6 6 0"

table16_Queens_SB = "Queens 100 2 2 0 \
Queens 101 0 0 0 \
Queens 102 2 2 0 \
Queens 103 0 0 0 \
Queens 104 0 0 0 \
Queens 105 1 1 0 \
Queens 106 0 0 0 \
Queens 107 1 0 0 \
Queens 108 4 4 0 \
Queens 109 0 0 0 \
Queens 110 5 4 0 \
Queens 111 0 0 0 \
Queens 112 1 1 0 \
Queens 113 0 0 0 \
Queens 114 1 1 0 \
Queens 115 8 8 0"

table16_StatenIsland_SB = "StatenIsland 120 3 3 0 \
StatenIsland 121 0 0 0 \
StatenIsland 122 2 1 0 \
StatenIsland 123 2 2 0"

## Processing of the Data:

### Utils

In [41]:
def make_array(string, length):
    return np.array(string.split(" ")).reshape((-1, length))

def unify_into_df(burrow_strings, columns):
    return pd.DataFrame([
        *make_array(burrow_strings[0], len(columns)),
        *make_array(burrow_strings[1], len(columns)),
        *make_array(burrow_strings[2], len(columns)),
        *make_array(burrow_strings[3], len(columns)),
        *make_array(burrow_strings[4], len(columns))],
        columns=columns)

### Bicycle-Motor-Incidents

In [ ]:
columns = ['borough',
           'precinct',
           'crashes',
           'bicyclist injuries',
           'bicyclist fatalities',
           'motor vehicle occupant injuries',
           'motor vehicle occupant fatalities'
           ]

Table_14_BM = unify_into_df([
    table14_Manhattan_BM,
    table14_Bronx_BM,
    table14_Brooklyn_BM,
    table14_Queens_BM,
    table14_StatenIsland_BM
    ], columns)

Table_15_BM = unify_into_df([
    table15_Manhattan_BM,
    table15_Bronx_BM,
    table15_Brooklyn_BM,
    table15_Queens_BM,
    table15_StatenIsland_BM
    ], columns)

Table_16_BM = unify_into_df([
    table16_Manhattan_BM,
    table16_Bronx_BM,
    table16_Brooklyn_BM,
    table16_Queens_BM,
    table16_StatenIsland_BM
    ], columns)

Table_14_BM.to_csv('data/nyc/KSI14_BM.csv', encoding='utf-8', index=False)
Table_15_BM.to_csv('data/nyc/KSI15_BM.csv', encoding='utf-8', index=False)
Table_16_BM.to_csv('data/nyc/KSI16_BM.csv', encoding='utf-8', index=False)

### Bicycle-Pedestrian-Incidents:

In [ ]:
columns = ['borough',
           'precinct',
           'crashes',
           'pedestrian injuries',
           'pedestrian fatalities',
           'bicyclist injuries',
           'bicyclist fatalities'
           ]


Table_14_BP = unify_into_df([
    table14_Manhattan_BP,
    table14_Bronx_BP,
    table14_Brooklyn_BP,
    table14_Queens_BP,
    table14_StatenIsland_BP
    ], columns)

Table_15_BP = unify_into_df([
    table15_Manhattan_BP,
    table15_Bronx_BP,
    table15_Brooklyn_BP,
    table15_Queens_BP,
    table15_StatenIsland_BP
    ], columns)

Table_16_BP = unify_into_df([
    table16_Manhattan_BP,
    table16_Bronx_BP,
    table16_Brooklyn_BP,
    table16_Queens_BP,
    table16_StatenIsland_BP
    ], columns)

Table_14_BP.to_csv('data/nyc/KSI14_BP.csv', encoding='utf-8', index=False)
Table_15_BP.to_csv('data/nyc/KSI15_BP.csv', encoding='utf-8', index=False)
Table_16_BP.to_csv('data/nyc/KSI16_BP.csv', encoding='utf-8', index=False)

### Bicycle-Bicycle-Incidents

In [ ]:
columns = ['borough',
           'precinct',
           'crashes',
           'bicyclist injuries',
           'bicyclist fatalities'
           ]

Table_14_BB = unify_into_df([
    table14_Manhattan_BB,
    table14_Bronx_BB,
    table14_Brooklyn_BB,
    table14_Queens_BB,
    table14_StatenIsland_BB
    ], columns)

Table_15_BB = unify_into_df([
    table15_Manhattan_BB,
    table15_Bronx_BB,
    table15_Brooklyn_BB,
    table15_Queens_BB,
    table15_StatenIsland_BB
    ], columns)

Table_16_BB = unify_into_df([
    table16_Manhattan_BB,
    table16_Bronx_BB,
    table16_Brooklyn_BB,
    table16_Queens_BB,
    table16_StatenIsland_BB
    ], columns)

Table_14_BB.to_csv('data/nyc/KSI14_BB.csv', encoding='utf-8', index=False)
Table_15_BB.to_csv('data/nyc/KSI15_BB.csv', encoding='utf-8', index=False)
Table_16_BB.to_csv('data/nyc/KSI16_BB.csv', encoding='utf-8', index=False)

### Single-Bicycle-Incidents

In [ ]:
columns = ['borough',
           'precinct',
           'crashes',
           'bicyclist injuries',
           'bicyclist fatalities'
           ]


Table_14_SB = unify_into_df([
    table14_Manhattan_SB,
    table14_Bronx_SB,
    table14_Brooklyn_SB,
    table14_Queens_SB,
    table14_StatenIsland_SB
    ], columns)

Table_15_SB = unify_into_df([
    table15_Manhattan_SB,
    table15_Bronx_SB,
    table15_Brooklyn_SB,
    table15_Queens_SB,
    table15_StatenIsland_SB
    ], columns)

Table_16_SB = unify_into_df([
    table16_Manhattan_SB,
    table16_Bronx_SB,
    table16_Brooklyn_SB,
    table16_Queens_SB,
    table16_StatenIsland_SB
    ], columns)

Table_14_SB.to_csv('data/nyc/KSI14_SB.csv', encoding='utf-8', index=False)
Table_15_SB.to_csv('data/nyc/KSI15_SB.csv', encoding='utf-8', index=False)
Table_16_SB.to_csv('data/nyc/KSI16_SB.csv', encoding='utf-8', index=False)